body {
    font-size: 24px;
    font-family: 'Poppins' sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 7px -5px rgba(0,0,0,0.75);
    background-color: #F3F4F0;
    padding: 15px;
}

.navLogo{
    height: 57px;
    width: 164px;
}
.mainNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

.secondaryNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header{
    margin: 120px auto;
   width: 70%;
   text-align: center;
   border-radius: 10px;
}

.searchBar {
    background-color: rgb(172, 172, 172);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    margin: 40px auto;
    width: 70%;
    border-radius: 10px;
}

.featured {
    margin: 100px;
    padding: auto;
}

.cardScroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: rgb(228, 228, 228);
    width: 290px;
    height: 442px;
    border-radius: 10px;
    padding: 10px;
}

.cardImage {
    width: 280px;
    height: 289px;
    border-radius: 10px;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F4F0;
}

.footerLogo {
    height: 26px;
    width: 86px;
}